<nav class="navbar navbar-inverse" ng-controller="navCtrl" style="margin-bottom: 1px">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>                        
      </button>
      <a class="navbar-brand" href="#">
      <img src="img/logotipo.png" style="width:200px"/>
      </a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
        <li><a href="#/!">Início</a></li>
        <li><a href="#!perfil">Perfil</a></li>
        <li><a href="#!composicoes">Composições</a></li>
        <li><a href="#!amigos">Amigos</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#!perfil"> <span class="glyphicon glyphicon-user"></span> {{user.email}}</a></li>
        <li><a href="/logout"><span class="glyphicon glyphicon-log-in"></span> Sair</a></li>
      </ul>
    </div>
  </div>
</nav>
<div id="orangebar" style="background:#ff6600;width:100%;height:60px;">
	<div class="pull-right"><img src="img/equalize.gif" style="height:60px"/></div>
</div>