<html><head lang="en"><style type="text/css">@charset "UTF-8";[ng\:cloak],[ng-cloak],[data-ng-cloak],[x-ng-cloak],.ng-cloak,.x-ng-cloak,.ng-hide:not(.ng-hide-animate){display:none !important;}ng\:form{display:block;}.ng-animate-shim{visibility:hidden;}.ng-anchor{position:absolute;}</style>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<link rel="stylesheet" href="css/style.css">
<script src="vendor/jquery.min.js"></script>
<script src="vendor/bootstrap.min.js"></script>
<script src="vendor/angular.min.js"></script>
<script src="vendor/angular-messages.js"></script>
<script src="vendor/angular-route.js"></script>

<script>

var app = angular.module('cadastroApp', ['ngMessages']);

app.controller('cadastroCtrl', function($scope,$http) {

	$scope.cadastroForm = {}
	
	$scope.cadastrar = function(){
	
		$http({
			method : "POST",
			url : '/cadastrar',
			data : $scope.cadastroForm
		}).then(function mySuccess(response) {
			$scope.msg = response.data
			$scope.cadastroForm = {}
			$scope.cadForm.$setPristine();
		}, function myError(response) {
			$scope.msg = response.data
			$scope.cadastroForm = {}
			$scope.cadForm.$setPristine();
		});
	}
	
});
</script>
<title>Home Band - Login</title>
</head>
<body>
	<div class="container ng-scope" ng-app="cadastroApp" ng-controller="cadastroCtrl">
		<div class="row">
			<div class="Absolute-Center is-Responsive">
				<div class="logo">
					<img src="img/logo.PNG" id="logo">
				</div>
				
				<div ng-if="msg.codigo==1 && !cadForm.$dirty" class="alert alert-danger alert-dismissible" align="center">
-					<span class="close" data-dismiss="alert" aria-label="close">&times;</span>
-					{{msg.mensagem}}
-				</div>
-				<div ng-if="msg.codigo==0 && !cadForm.$dirty" class="alert alert-danger alert-dismissible" align="center">
-					<span class="close" data-dismiss="alert" aria-label="close">&times;</span>
-					{{msg.mensagem}}
				</div>
				
				<div ng-if="cadForm.$error && cadForm.$dirty">
					<div ng-messages="cadForm.email.$error">
						<div class="alert alert-danger" ng-message="required">
							Por favor preencha o email.
						</div>
						<div class="alert alert-danger" ng-message="pattern">
							Email incorreto
						</div>
					</div>
					<div ng-if="cadForm.email.$valid">
						<div ng-messages="cadForm.nome.$error">
							<div class="alert alert-danger" ng-message="required">
								Por favor preencha o nome do perfil.
							</div>
						</div>
					</div>
					<div ng-if="cadForm.nome.$valid">
						<div ng-messages="cadForm.senha1.$error">
							<div class="alert alert-danger" ng-message="required">
								Por favor preencha a senha
							</div>
							<div class="alert alert-danger" ng-message="minlength">
								A senha deve conter pelo menos 6 digitos
							</div>
						</div>
					</div>
					<div ng-if="cadForm.senha1.$valid">
						<div ng-messages="cadForm.senha2.$error">
							<div class="alert alert-danger" ng-message="required">
								Por favor confirme a senha
							</div>
							<div class="alert alert-danger" ng-message="minlength">
								A senha deve conter pelo menos 6 digitos
							</div>
						</div>
					</div>
					<div ng-if="cadForm.$valid">
						<div class="alert alert-info">
							Formulario preenchido corretamente, clique em cadastrar
						</div>
					</div>
				</div>

				<div class="col-sm-12 col-md-10 col-md-offset-1">
					<form id="cadForm" name="cadForm" class="ng-pristine ng-invalid ng-invalid-required ng-valid-pattern ng-valid-minlength">
						<div class="form-group input-group">
							<span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span> <input class="form-control ng-pristine ng-untouched ng-empty ng-invalid ng-invalid-required ng-valid-pattern" type="text" name="email" placeholder="email" ng-model="cadastroForm.email" ng-required="true" ng-pattern="/^[^\s@]+@[^\s@]+\.[^\s@]{2,}$/">
						</div>
						<div class="form-group input-group">
							<span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span> <input class="form-control ng-pristine ng-untouched ng-empty ng-invalid ng-invalid-required" type="text" name="nome" placeholder="nome" ng-model="cadastroForm.nome" ng-required="true" ng-disabled="cadForm.email.$invalid">
						</div>
						<div class="form-group input-group">
							<span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span> <input class="form-control ng-pristine ng-untouched ng-empty ng-invalid ng-invalid-required ng-valid-minlength" type="password" name="senha1" placeholder="senha" ng-model="cadastroForm.senha1" ng-required="true" ng-minlength="6" required="required" ng-disabled="cadForm.nome.$invalid">
						</div>
						<div class="form-group input-group">
							<span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span> <input class="form-control ng-pristine ng-untouched ng-empty ng-invalid ng-invalid-required ng-valid-minlength" type="password" name="senha2" placeholder="confirma senha" ng-model="cadastroForm.senha2" ng-required="true" ng-minlength="6" required="required" ng-disabled="cadForm.senha1.$invalid">
						</div>
						<div class="form-group">
							<button ng-disabled="cadForm.$invalid" ng-click="cadastrar()" class="btn btn-def btn-block" disabled="disabled">Cadastrar</button>
						</div>
						<div class="form-group text-center">
							<a href="login">voltar para o login</a>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>

</body></html>
