<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"></link>
<link rel="stylesheet" href="css/style.css"></link>
<script src="vendor/jquery.min.js"></script>
<script src="vendor/bootstrap.min.js"></script>
<script src="vendor/angular.min.js"></script>
<script src="vendor/angular-route.js"></script>
<script src="js/CadastroCtrl.js"></script>
<title>Home Band - Login</title>
</head>
<body>
	<div class="container" ng-app="cadastroApp"
		ng-controller="cadastroCtrl">
		<div class="row">
			<div class="Absolute-Center is-Responsive">
				<div class="logo">
					<img src="img/logo.PNG" id="logo"></img>
				</div>
				<div ng-if="msg.codigo==1" class="alert alert-danger alert-dismissible" align="center">
					<span class="close" data-dismiss="alert" aria-label="close">&times;</span>
					{{msg.mensagem}}
				</div>
				<div ng-if="msg.codigo==0" class="alert alert-danger alert-dismissible" align="center">
					<span class="close" data-dismiss="alert" aria-label="close">&times;</span>
					{{msg.mensagem}}
				</div>
				<p align="center" style="color: red;" th:text="${session.mensagem}"
					name="aviso"></p>
				<div class="col-sm-12 col-md-10 col-md-offset-1">
					<form id="cadForm" name="cadForm">
						<div class="form-group input-group">
							<span class="input-group-addon"><i
								class="glyphicon glyphicon-user"></i></span> <input
								class="form-control" type="text" name='email'
								placeholder="email" ng-model="cadastroForm.email" ng-required="true"
								ng-pattern="/^[^\s@]+@[^\s@]+\.[^\s@]{2,}$/" />
						</div>
						<div class="form-group input-group">
							<span class="input-group-addon"><i
								class="glyphicon glyphicon-user"></i></span> <input
								class="form-control" type="text" name='nome' placeholder="nome"
								ng-model="cadastroForm.nome" ng-required="true" />
						</div>
						<div class="form-group input-group">
							<span class="input-group-addon"><i
								class="glyphicon glyphicon-lock"></i></span> <input
								class="form-control" type="password" name='senha1'
								placeholder="senha" ng-model="cadastroForm.senha1" ng-required="true"
								ng-minlength="6" />
						</div>
						<div class="form-group input-group">
							<span class="input-group-addon"><i
								class="glyphicon glyphicon-lock"></i></span> <input
								class="form-control" type="password" name='senha2'
								placeholder="confirma senha" ng-model="cadastroForm.senha2"
								ng-required="true" ng-minlength="6" />
						</div>
						<div class="form-group">
							<button ng-disabled="cadForm.$invalid" ng-click="cadastrar()" class="btn btn-def btn-block">Cadastrar</button>
						</div>
						<div class="form-group text-center">
							<a href="login">voltar para o login</a>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</body>
</html>